<div class="container" style="margin-top: 5%;">
    <div class="row">
        <div class="col-lg-9">
            <div class="card">
                <h5 class="card-header">User Profile</h5>
                <div class="card-body">
                    <label style="color:#067786 ;font-size:180%" for="amount">Firstname : </label>
                    <label style="color:#067786 ;font-size:180%" for="amount">{{firstName}} </label>
                    <br>
                    <hr>
                    <label style="color:#067786 ;font-size:180%" for="amount">Lastname : </label>
                    <label style="color:#067786 ;font-size:180%" for="amount">{{lastName}} </label>
                    <br>
                    <hr>
                    <label style="color:#067786 ;font-size:180%" for="amount">Username : </label>
                    <label style="color:#067786 ;font-size:180%" for="amount">{{username}} </label>
                    <br>   
                    <hr>   
                    <label style="color:#067786 ;font-size:180%" for="amount">Phone No : </label>
                    <label style="color:#067786 ;font-size:180%" for="amount">{{phoneNo}} </label>
                    <br>
                    <hr>
                    
                </div>
              </div>
        </div>
        
    </div>
</div>

