<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="javascript:void(0);" (click)="goToAdminHome()">ICIN BANK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        
        <li class="nav-item">
          <a class="nav-link " href="javascript:void(0);" (click)="getUserAccounts()">User Account</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);" (click)="getChequeBookRequest()">Cheque Book Requests </a>
        </li>
      </ul>
      
        
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="logout()">Logout</button>
      
    </div>
  </nav>
  <router-outlet></router-outlet>
